{
    "openapi": "3.1.0",
    "info": {
        "title": "Gouda Tijdmachine Straatnamen API",
        "description": "Deze [getestte](/test-results/) read-only REST API voorziet in de informatiebehoefte qua straatnamen en afbeeldingen van straten; alle geïdentifieerd met een persistente HTTP URI op basis van ARK.",
        "version": "v1.5.0",
        "contact": {
            "name": "Gouda Tijdmachine Straatnamen",
            "url": "https://www.goudatijdmachine.nl/straatnamen/"
        }
    },
    "servers": [
        {
            "url": "https://api-straatnamen.goudatijdmachine.nl",
            "description": "Productie. Gebruik deze host voor browser-clients: alleen hier staan de conditionele requestheaders (If-None-Match, If-Modified-Since) cross-origin toe."
        },
        {
            "url": "https://www.goudatijdmachine.nl/api-straatnamen",
            "description": "Alternatief pad op de hoofdsite. Let op: de vhost daar overschrijft Access-Control-Allow-Headers, waardoor een conditionele request vanuit een browser op een andere origin afketst op de preflight. Alleen geschikt voor same-origin gebruik of niet-browser-clients."
        }
    ],
    "paths": {
        "/straatnamen": {
            "get": {
                "operationId": "searchStreets",
                "summary": "Lijst met straten (JSON of GeoJSON)",
                "description": "Geeft een set van straten. Gebruik de `Accept` header om te schakelen tussen een standaard overzicht (`application/json`) of geografische features (`application/geo+json`). Wanneer Accept headers niet mogelijk is kan ?geojson worden toegevoegd aan de API call.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Q"
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Offset"
                    },
                    {
                        "$ref": "#/components/parameters/Lat"
                    },
                    {
                        "$ref": "#/components/parameters/Lon"
                    },
                    {
                        "$ref": "#/components/parameters/Type"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succesvolle response met straten data.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop voor het laatst een straatnaam is toegevoegd of gewijzigd, inclusief de aan straten gekoppelde afbeeldingen. Geldt voor de hele collectie, ook bij een gefilterde opvraging.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            },
                            "Vary": {
                                "description": "De responsevorm hangt af van de Accept-header (JSON of GeoJSON); caches moeten daarop variëren.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Accept"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "panden": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StraatIndex"
                                            }
                                        },
                                        "aantal": {
                                            "type": "integer",
                                            "description": "Totaal aantal gevonden straten."
                                        }
                                    }
                                }
                            },
                            "application/geo+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "enum": [
                                                "FeatureCollection"
                                            ]
                                        },
                                        "features": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/GeoJSONFeature"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop voor het laatst een straatnaam is toegevoegd of gewijzigd, inclusief de aan straten gekoppelde afbeeldingen. Geldt voor de hele collectie, ook bij een gefilterde opvraging.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            },
                            "Vary": {
                                "description": "De responsevorm hangt af van de Accept-header (JSON of GeoJSON); caches moeten daarop variëren.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Accept"
                            }
                        }
                    },
                    "404": {
                        "description": "Geen straten gevonden."
                    },
                    "406": {
                        "description": "Ongeldige accept header."
                    },
                    "422": {
                        "description": "Ongeldige zoekvraag."
                    },
                    "default": {
                        "description": "Er heeft zich een onverwachte fout voorgedaan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "operationId": "headSearchStreets",
                "summary": "Lijst met straten (JSON of GeoJSON) (alleen headers)",
                "description": "Identiek aan de GET, maar zonder body: alleen de validators `Last-Modified` en `ETag`. Bedoeld voor clients die de gegevens lokaal cachen en met één request willen vaststellen of er iets is gewijzigd.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Q"
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Offset"
                    },
                    {
                        "$ref": "#/components/parameters/Lat"
                    },
                    {
                        "$ref": "#/components/parameters/Lon"
                    },
                    {
                        "$ref": "#/components/parameters/Type"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succesvolle response; de validators staan in de headers, er is geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop voor het laatst een straatnaam is toegevoegd of gewijzigd, inclusief de aan straten gekoppelde afbeeldingen. Geldt voor de hele collectie, ook bij een gefilterde opvraging.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            },
                            "Vary": {
                                "description": "De responsevorm hangt af van de Accept-header (JSON of GeoJSON); caches moeten daarop variëren.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Accept"
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop voor het laatst een straatnaam is toegevoegd of gewijzigd, inclusief de aan straten gekoppelde afbeeldingen. Geldt voor de hele collectie, ook bij een gefilterde opvraging.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            },
                            "Vary": {
                                "description": "De responsevorm hangt af van de Accept-header (JSON of GeoJSON); caches moeten daarop variëren.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Accept"
                            }
                        }
                    },
                    "404": {
                        "description": "Geen straten gevonden."
                    },
                    "406": {
                        "description": "Ongeldige accept header."
                    }
                }
            }
        },
        "/straatnamen/{identifier}": {
            "get": {
                "operationId": "getStreetById",
                "summary": "Informatie over een straatnaam",
                "description": "Geeft informatie over de gespecificeerde straat, inclusief geometrie.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/StraatIdentifier"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informatie over de straat.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop deze straatnaam of een van de daaraan gekoppelde afbeeldingen voor het laatst is gewijzigd.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Straat"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop deze straatnaam of een van de daaraan gekoppelde afbeeldingen voor het laatst is gewijzigd.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "400": {
                        "description": "Missende of ongeldige identifier."
                    },
                    "404": {
                        "description": "Straat niet gevonden."
                    },
                    "default": {
                        "description": "Er heeft zich een onverwachte fout voorgedaan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "operationId": "headGetStreetById",
                "summary": "Informatie over een straatnaam (alleen headers)",
                "description": "Identiek aan de GET, maar zonder body: alleen de validators `Last-Modified` en `ETag`. Bedoeld voor clients die de gegevens lokaal cachen en met één request willen vaststellen of er iets is gewijzigd.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/StraatIdentifier"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succesvolle response; de validators staan in de headers, er is geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop deze straatnaam of een van de daaraan gekoppelde afbeeldingen voor het laatst is gewijzigd.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop deze straatnaam of een van de daaraan gekoppelde afbeeldingen voor het laatst is gewijzigd.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "400": {
                        "description": "Missende of ongeldige identifier."
                    },
                    "404": {
                        "description": "Straat niet gevonden."
                    }
                }
            }
        },
        "/afbeeldingen/{identifier}": {
            "get": {
                "operationId": "getImagesByStreetId",
                "summary": "Aan een straat gekoppelde afbeeldingen",
                "description": "Geeft informatie over de aan een straat gekoppelde afbeeldingen, waaronder de IIIF URL.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AfbeeldingenIdentifier"
                    },
                    {
                        "$ref": "#/components/parameters/AfbeeldingenLimit"
                    },
                    {
                        "$ref": "#/components/parameters/AfbeeldingenOffset"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succesvolle response met afbeeldingen data.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop een van de aan deze straat gekoppelde afbeeldingen voor het laatst is gewijzigd. Geldt voor alle afbeeldingen van de straat, ongeacht limit en offset.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "panden": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Afbeeldingen"
                                            }
                                        },
                                        "aantal": {
                                            "type": "integer",
                                            "description": "Totaal aantal gevonden afbeeldingen."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop een van de aan deze straat gekoppelde afbeeldingen voor het laatst is gewijzigd. Geldt voor alle afbeeldingen van de straat, ongeacht limit en offset.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "400": {
                        "description": "Missende of ongeldige identifier."
                    },
                    "404": {
                        "description": "Straat niet gevonden."
                    },
                    "default": {
                        "description": "Er heeft zich een onverwachte fout voorgedaan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "operationId": "headGetImagesByStreetId",
                "summary": "Aan een straat gekoppelde afbeeldingen (alleen headers)",
                "description": "Identiek aan de GET, maar zonder body: alleen de validators `Last-Modified` en `ETag`. Bedoeld voor clients die de gegevens lokaal cachen en met één request willen vaststellen of er iets is gewijzigd.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AfbeeldingenIdentifier"
                    },
                    {
                        "$ref": "#/components/parameters/AfbeeldingenLimit"
                    },
                    {
                        "$ref": "#/components/parameters/AfbeeldingenOffset"
                    },
                    {
                        "$ref": "#/components/parameters/IfNoneMatch"
                    },
                    {
                        "$ref": "#/components/parameters/IfModifiedSince"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succesvolle response; de validators staan in de headers, er is geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop een van de aan deze straat gekoppelde afbeeldingen voor het laatst is gewijzigd. Geldt voor alle afbeeldingen van de straat, ongeacht limit en offset.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "304": {
                        "description": "Niet gewijzigd sinds de meegestuurde `If-None-Match` of `If-Modified-Since`. De response heeft geen body.",
                        "headers": {
                            "Last-Modified": {
                                "description": "Moment waarop een van de aan deze straat gekoppelde afbeeldingen voor het laatst is gewijzigd. Geldt voor alle afbeeldingen van de straat, ongeacht limit en offset.",
                                "schema": {
                                    "type": "string",
                                    "format": "http-date"
                                },
                                "example": "Sun, 09 Aug 2026 18:11:14 GMT"
                            },
                            "ETag": {
                                "description": "Sterke validator over de responsebody. Stuur hem terug in `If-None-Match` om te controleren of er iets is gewijzigd.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "\"9f86d081884c7d659a2feaa0c55ad015\""
                            },
                            "Cache-Control": {
                                "description": "De response mag gecached worden, maar moet bij elk hergebruik opnieuw gevalideerd worden.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "public, max-age=0, must-revalidate"
                            }
                        }
                    },
                    "400": {
                        "description": "Missende of ongeldige identifier."
                    },
                    "404": {
                        "description": "Straat niet gevonden."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ClearCacheResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true,
                        "description": "Geeft aan of de cache operatie succesvol was."
                    },
                    "deleted_files": {
                        "type": "integer",
                        "example": 847,
                        "description": "Het aantal verwijderde cache bestanden."
                    },
                    "message": {
                        "type": "string",
                        "example": "Successfully cleared 847 cache files",
                        "description": "Een beschrijving van het resultaat."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Eventuele foutmeldingen tijdens het wissen van de cache."
                    }
                }
            },
            "Error": {
                "type": "object",
                "description": "Beschrijving van een foutmelding.",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "Straat": {
                "type": "object",
                "properties": {
                    "identifier": {
                        "type": "string",
                        "format": "uri",
                        "description": "De persistente HTTP URI van de beschrijving van de afbeelding.",
                        "example": "https://n2t.net/ark:/60537/bjMurf"
                    },
                    "naam": {
                        "type": "string",
                        "example": "Wijdstraat",
                        "description": "De straatnaam."
                    },
                    "alt_names": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "Waaistraat",
                            "Wijtstraet",
                            "Wytstraat",
                            "Twistraete"
                        ],
                        "description": "Een lijst van alternatieve namen en/of schrijfwijzen voor de straat."
                    },
                    "genoemd_naar": {
                        "type": "string",
                        "example": "Genoemd naar de tweesprong die werd gevormd door de Tiendeweg (vóór de verlegging ten gerieve van de bouw van de Sint-Janskerk) en het verlengde van de Kleiweg. De oorspronkelijke naam van de straat was ook Twistrate, wat een straat met een tweesprong betekent. In het midden van de vijftiende eeuw is de naam verbasterd tot Wijdstraat.",
                        "description": "Beschrijving van waar of naar wie de straat is genoemd."
                    },
                    "ligging": {
                        "type": "string",
                        "example": "van de Markt naar de Dubbele Buurt en de Lage Gouwe",
                        "description": "De ligging van de straat."
                    },
                    "vermeldingen": {
                        "type": "string",
                        "example": "B&W besluit, nummer 17651 (2-12-1980)",
                        "description": "Officieel stuk waarin de straat is vermeld, zoals een raadsbesluit."
                    },
                    "problematisch": {
                        "type": "string",
                        "example": "Cornelis en Frederik de Houtman waren Goudse zeevaarders die reizen maakten naar Oost-Indië ...",
                        "description": "Uitleg bij de straatnaam die naar hedendaagse opvattingen mogelijk niet door de beugel kan."
                    },
                    "geometry": {
                        "$ref": "#/components/schemas/GeoJSONGeometry"
                    }
                }
            },
            "StraatIndex": {
                "type": "object",
                "properties": {
                    "identifier": {
                        "type": "string",
                        "format": "uri",
                        "description": "De persistente HTTP URI van de straat.",
                        "example": "https://n2t.net/ark:/60537/bjMurf"
                    },
                    "naam": {
                        "type": "string",
                        "example": "Wijdstraat",
                        "description": "De straatnaam."
                    },
                    "alt_names": {
                        "type": "string",
                        "example": "Waaistraat, Wijtstraet, Wytstraat, Twistraete",
                        "description": "Een komma gescheiden lijst van alternatieve namen en/of schrijfwijzen voor de straat."
                    }
                }
            },
            "Afbeeldingen": {
                "type": "object",
                "properties": {
                    "aantal": {
                        "type": "integer",
                        "description": "Aantal afbeeldingen voor gespecificeerde straatnaam.",
                        "example": 92
                    },
                    "afbeeldingen": {
                        "$ref": "#/components/schemas/Afbeelding"
                    }
                }
            },
            "Afbeelding": {
                "type": "object",
                "properties": {
                    "identifier": {
                        "type": "string",
                        "format": "uri",
                        "description": "De persistente HTTP URI van de beschrijving van de afbeelding.",
                        "example": "https://n2t.net/ark:/60537/buzzqh"
                    },
                    "titel": {
                        "type": "string",
                        "example": "Bebouwing aan de Markt, c. 1870. Drie panden in de Wijdstraat 20 t/m 24, links winkel voor vloerbedekking",
                        "description": "De titel van de afbeelding, veelal meer de vorm van een lange beschrijving dan een kort titel."
                    },
                    "thumbnail": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://images.memorix.nl/sahm/iiif/48468880-0bf7-f10d-21e4-5cff7a6ff4e0/full/250,/0/default.jpg",
                        "description": "Een kleine weergave van de afbeelding (veelal 200 pixels bij landschapsformaat en 200px hoog bij portretformaat."
                    },
                    "vervaardiger": {
                        "type": "string",
                        "example": "Kiebert, J.H. (Gouda)",
                        "description": "De naam van de maker van de afbeelding."
                    },
                    "datering": {
                        "type": "string",
                        "example": "1865",
                        "description": "Het jaar waarin de afbeelding is gemaakt."
                    },
                    "bronorganisatie": {
                        "type": "string",
                        "example": "Streekarchief Midden-Holland",
                        "description": "De organisatie die de afbeelding in haar collectie heeft, bijv. Streekarchief Midden-Holland (SAMH) of Rijkdienst voor het Cultureel Erfgoed (RCE)."
                    }
                }
            },
            "GeoJSONFeature": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "Feature"
                        ]
                    },
                    "geometry": {
                        "$ref": "#/components/schemas/GeoJSONGeometry"
                    },
                    "properties": {
                        "type": "object"
                    }
                }
            },
            "GeoJSONGeometry": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/GeoJSONPolygon"
                    },
                    {
                        "$ref": "#/components/schemas/GeoJSONLineString"
                    },
                    {
                        "$ref": "#/components/schemas/GeoJSONMultiLineString"
                    }
                ]
            },
            "GeoJSONPolygon": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "Polygon"
                        ]
                    },
                    "coordinates": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        }
                    }
                }
            },
            "GeoJSONLineString": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "LineString"
                        ]
                    },
                    "coordinates": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "double"
                            },
                            "minItems": 2
                        }
                    }
                }
            },
            "GeoJSONMultiLineString": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "MultiLineString"
                        ]
                    },
                    "coordinates": {
                        "type": "array",
                        "description": "An array of LineString coordinate arrays",
                        "items": {
                            "type": "array",
                            "description": "A single LineString coordinate array",
                            "items": {
                                "type": "array",
                                "description": "A single point [longitude, latitude]",
                                "items": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "parameters": {
            "Q": {
                "name": "q",
                "description": "De te zoeken term in de straatnaam.",
                "in": "query",
                "required": false,
                "example": "achter",
                "schema": {
                    "type": "string"
                }
            },
            "Limit": {
                "name": "limit",
                "in": "query",
                "description": "Het maximum aantal straten dat geretourneerd moet worden.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "default": 2000
                }
            },
            "Offset": {
                "name": "offset",
                "in": "query",
                "description": "Het aantal straten om over te slaan.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0
                }
            },
            "Lat": {
                "name": "lat",
                "in": "query",
                "description": "Geef lijst van straatnamen uitgaande van de breedtegraad (en lengtegraad)",
                "required": false,
                "schema": {
                    "type": "number",
                    "format": "float",
                    "example": "52.0049"
                }
            },
            "Lon": {
                "name": "lon",
                "in": "query",
                "description": "Geef lijst van straatnamen uitgaande van de lengtegraad (en breedtegraad)",
                "required": false,
                "schema": {
                    "type": "number",
                    "format": "float",
                    "example": "4.6782"
                }
            },
            "Type": {
                "name": "type",
                "in": "query",
                "description": "Filter straten op type (huidig, verdwenen of alle).",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "huidig",
                        "verdwenen",
                        "alle"
                    ],
                    "default": "alle"
                }
            },
            "StraatIdentifier": {
                "name": "identifier",
                "in": "path",
                "description": "Identifier van de straat. **Let op**: de identifier is een URI, deze moet correct ge-URL-encoded worden als path parameter.",
                "required": true,
                "example": "https://n2t.net/ark:/60537/bjMurf",
                "schema": {
                    "type": "string"
                }
            },
            "AfbeeldingenIdentifier": {
                "name": "identifier",
                "in": "path",
                "description": "Identifier van de straat. **Let op**: de identifier is een URI, deze moet correct ge-URL-encoded worden als path parameter.",
                "required": true,
                "example": "https://n2t.net/ark:/60537/bjMurf",
                "schema": {
                    "type": "string"
                }
            },
            "AfbeeldingenLimit": {
                "name": "limit",
                "in": "query",
                "description": "Het maximum aantal afbeeldingen dat geretourneerd moet worden.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "default": 25
                }
            },
            "AfbeeldingenOffset": {
                "name": "offset",
                "in": "query",
                "description": "Het aantal afbeeldingen om over te slaan.",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0
                }
            },
            "IfNoneMatch": {
                "name": "If-None-Match",
                "in": "header",
                "description": "De ETag uit een eerdere response. Is de representatie ongewijzigd, dan volgt een `304 Not Modified` zonder body. Gaat voor op `If-Modified-Since`.",
                "required": false,
                "example": "\"9f86d081884c7d659a2feaa0c55ad015\"",
                "schema": {
                    "type": "string"
                }
            },
            "IfModifiedSince": {
                "name": "If-Modified-Since",
                "in": "header",
                "description": "De Last-Modified uit een eerdere response. Is er sindsdien niets gewijzigd, dan volgt een `304 Not Modified` zonder body. Wordt genegeerd zodra `If-None-Match` is meegestuurd.",
                "required": false,
                "example": "Sun, 09 Aug 2026 18:11:14 GMT",
                "schema": {
                    "type": "string",
                    "format": "http-date"
                }
            }
        }
    }
}
